label {
    display: block;
    font: 1rem 'Fira Sans', sans-serif;
}

input,
label {
    margin: .4rem 0;
}

h1,
h2,
h3,
p,
.GeneralText {
    color: grey;
    font-family: helvetica;
}

.countdown{
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    padding-top: 20;
}

.hour,.minute,.second{
    font-size: 3rem;
}